@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
	height: 100%;
	font-family: 'Numans', sans-serif;
}
.container{
	margin-top:25px;
	height: 60%;
	align-content: center;
}
 
.container h3{
	line-height: 3rem;
}

.card{
	height: 620px;
	width: 400px;
	border : 0.3px solid lightgray;
	background-color: rgba(0,0,0,0) !important;
}
.card-login{
	height: 400px;
	width: 400px;
	border : 0.3px solid lightgray;
	background-color: rgba(0,0,0,0.03) !important;
}
.card-header{
	border : 0px;
}

input{
	padding-top:10px;
	margin-top: 5px;
}
.card-header h3{
	color: black;
}
.input-group-prepend span{
	width: 50px;
	background-color: #FFC312;
	color: black;
	border:0 !important;
}
input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;
}
.remember{
	color: black;
}
.remember input{
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}	
.login_btn{
	color: black;
	background-color: #FFC312;
	width: 130px;
}

.register_btn{
	margin-left:10px;
	color: black;
	background-color: #FFC312;
	width: 130px;
	margin-right:10px;
}

.register_btn a{
	text-decoration:none;
	color:black;
}

.register_btn:hover{
	color: black;
	background-color: #FFE900;
}

.login_btn:hover{
	color: black;
	background-color: #FFE900;
}

select {
  width: 80px; 
  padding: .10em .10em; 
  font-family: inherit;  
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;   
  border: 1px solid #999; 
  border-radius: 3px; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#fregister_chkall {
    line-height: 55px;
    border-bottom: 1px solid #d8d9df;
    text-align: left;
}
.fregister_agree2 {
    line-height: 55px;
    text-align: left;
}
#fregister textarea {
    padding: 20px;
    width: 100%;
    height: 150px;
    background: #fff;
    border: 1px solid #d8d9df;
    font-size: 12px;
    color: #98989f;
    line-height: 1.6em;
    overflow: auto;
    resize: none;
}
.btn_confirm{
	text-align: center;
}
.btn_confirm input{
	padding-right:15px;
	border: 1px solid orange;
    background-color: white;
    color: black;
    padding: 10px;
	font-size: 0.813rem;
	font : bold;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;  
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:85px;
}
.btn_confirm input:hover{
    color:white;
    background-color: orange;
}


