<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- <typeAlias alias="myboard" type="tommy.spring.web.board.BoardVO" /> -->
		<typeAlias alias="UserVO" type="com.spring.myweb.VO.UserVO.UserVO" />
		<typeAlias alias="userBoardVO" type="com.spring.myweb.VO.UserBoardVO.UserBoardVO" />
		<typeAlias alias="CategoryVO" type="com.spring.myweb.VO.CategoryVO.CategoryVO"/>
		<typeAlias alias="UserSmsVO" type="com.spring.myweb.VO.AdminVO.UserSmsVO" />
		<typeAlias alias="RegisterAgreeVO" type="com.spring.myweb.VO.RegisterAgreementVO.RegisterAgreementVO" />
		<typeAlias alias="ReviewSingoVO" type="com.spring.myweb.VO.AdminVO.ReviewSingoVO" />
		<typeAlias alias="BoardVO" type="com.spring.myweb.VO.AdminVO.BoardVO" />
		<typeAlias alias="PostVO" type="com.spring.myweb.VO.PostVO.PostVO"/>
		<typeAlias alias="PostPhotoVO" type="com.spring.myweb.awss3.vo.PostPhotoVO"/>
		<typeAlias alias="PhotoVO" type="com.spring.myweb.VO.PhotoVO.PhotoVO"/>
		<typeAlias alias="BoardSingoVO" type="com.spring.myweb.VO.AdminVO.BoardSingoVO" />
		<typeAlias alias="PostSingoVO" type="com.spring.myweb.VO.AdminVO.PostSingoVO"/>
		<typeAlias alias="LikeVO" type="com.spring.myweb.VO.LikeVO.LikeVO"/>
		<typeAlias alias="PayVO" type="com.spring.myweb.VO.AdminVO.PayVO.PayVO"/>
		<typeAlias alias="QnaVO" type="com.spring.myweb.VO.QnaVO.QnaVO"/>
		<typeAlias alias="QnaQuestionsVO" type="com.spring.myweb.VO.QnaVO.QnaQuestionsVO"/>
		<typeAlias alias="QnaAnswersVO" type="com.spring.myweb.VO.QnaVO.QnaAnswersVO"/>
		<typeAlias alias="BannerVO" type="com.spring.myweb.VO.AdminVO.BannerVO"/>
		<typeAlias alias="PageVO" type="com.spring.myweb.VO.PageVO.PageVO"/>
		<typeAlias alias="UserBoardPageVO" type="com.spring.myweb.VO.PageVO.UserBoardPageVO"/>
		<typeAlias alias="ReportVO" type="com.spring.myweb.VO.ReportVO.ReportVO"/>
		<typeAlias alias="NoticeVO" type="com.spring.myweb.VO.noticeVO.NoticeVO"/>
		<typeAlias alias="WithdrawalVO" type="com.spring.myqwb.VO.WithdrawalVO.WithdrawalVO"/>
		<typeAlias alias="MyMannerVO" type="com.spring.myweb.VO.MyMannerVO.MyMannerVO"/>
		<typeAlias alias="ChatRoom" type="com.spring.myweb.VO.ChatVO.ChatRoom"/>
		<typeAlias alias="ChatMessage" type="com.spring.myweb.VO.ChatVO.ChatMessage"/>
		<typeAlias alias="OneOnOneVO" type="com.spring.myweb.VO.OneOnOneVO.OneOnOneVO"/>
	</typeAliases>
	
	<mappers>
		<!-- <mapper resource="mappings/board-mapping.xml" /> -->
	</mappers>
</configuration>