@charset "UTF-8";
.card button{
	border: 1px solid orange;
	background-color: rgba(0, 0, 0, 0);
	color: orange;
	font: bold;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	width: 90px;
	height: 30px;
	margin-top: 10px;
	margin-left: 8px;
}
.btns{
	display: flex;
    justify-content: flex-end;
}
.hide{
	display : none;
}