@charset "UTF-8";

span {
	color: red;
}

div {
	
}

.management div {
	line-height: 4rem;
	float: left;
	margin-right: 35px;
}

.star {
	float: left;
	color: red;
}

.bar {
	color: orange;
}

.warn{
	color:#4797de;
}
.newinfo_1 {
	border-bottom: 2px solid orange;
}

.newinfo .state .explain span {
	color: red;
}

.management, .proimg, .title, .categ, .location, .state, .refund, .price,
	.feat, .tag, .fastsell {
	border-bottom: 1px solid orange;
}

.explain, .newdata {
	font-size: 1rem;
	margin-top: 30px;
	margin-bottom: 30px;
}

.proimg {
	margin-top: 30px;
}

.regpic, .regedpic {
	overflow: hidden;
	margin: 10px;
	height: 150px;
}

.warn {
	font-size: 0.8rem;
	margin-top: 30px;
}

.regpic input {
	width: 150px;
	height: 150px;
	opacity: 0;
}

.regpic img {
	height: 150px;
	width: 150px;
}

.file_1 {
	float: left;
	z-index: 2;
	position: relative;
}

.file_2 {
	height: 152px;
	width: 152px;
	float: left;
	position: absolute;
	z-index: 1;
	border: 1px solid black;
}

.newinfo_1 {
	height: 60px;
	margin-top: 20px;
}

.newinfo_1_1, .fastsell_1 {
	font-size: 1.7rem;
}

.newinfo_1_2 {
	margin: 6px 0 0 0;
	color: red;
	font-size: 1.2rem;
}

.titlebox {
	border: 1px solid #a7a7a7a7;
	height: 30px;
}

.titlebox input {
	width: 500px;
}

.titlebox a {
	float: right;
}

.fastsell_2 {
	margin: 6px 0 0 0;
	font-size: 1rem;
}
/*라디오 버튼 테두리 색*/
.state input, .refund input {
	appearance: none;
	width: 13px;
	height: 13px;
	border-width: 2px;
	border-color: red;
	border-style: solid;
	border-radius: 13px;
	background: white;
}

/*라디오 체크했을때 버튼색*/
.state input:checked::before, .refund input:checked::before {
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	margin: 1px auto;
	border-radius: 7px;
	background: red;
}

.location button {
	appearance: none;
	width: 100px;
	height: 2rem;
	border-width: 1px;
	border-color: #333333;
	border-style: solid;
	background: white;
}

button:hover {
	background-color: orange;
}

button:active {
	box-shadow: 0 1px red;
	transform: translateY(1px);
}

.location input {
	margin-top: 10px;
	width: 716px;
	height: 2rem;
}

.price .pri input {
	margin-bottom: 10px;
	width: 250px;
	height: 2rem;
}

.textbox textarea {
	resize: none;
	width: 716px;
	font-size: 1.1rem;
}

.textbox span {
	color: black;
}

.hoxy {
	color: #808080;
}

.hoxy a {
	color: #808080;
	text-decoration: none;
	cursor: pointer;
	text-decoration: underline;
}

.counter {
	float: right;
}

.tagrule {
	padding-top: 0.5rem;
	line-height: 1.3;
	font-size: 0.9rem;
	color: #808080;
}

.tags input{
	width: 716px;
	height: 2rem;
}


.opt li{
	margin:20px 0;
}

 small{
 	font-size:0.8rem;
 	color:orange;
 }

 small a{
 	font-size:0.8rem;
 	color:orange;
 	text-decoration: underline;
 }
  
  