@charset "UTF-8";

span {
	color: red;
}

.management div {
	line-height: 4rem;
	float: left;
	margin-right: 35px;
}

.star {
	float: left;
	color: red;
}



.bar {
	color: orange;
}

.newinfo_1 {
	border-bottom: 2px solid orange;
}

.newinfo .state .explain span {
	color: red;
}

.management, .proimg, .title, .categ, .location, .new_state, .refund,
	.new_price, .feat, .tag, .fastsell {
	border-bottom: 1px solid orange;
}

.explain, .newdata {
	font-size: 1rem;
	margin-top: 30px;
	margin-bottom: 30px;
}

.proimg {
	margin-top: 30px;
}

.regpic, .regedpic {
	overflow: hidden;
	margin: 10px;
	height: 150px;
}

.warn {
	font-size: 0.8rem;
	margin-top: 30px;
}

.regpic input {
	width: 130px;
	height: 130px;
	opacity: 0;
}

.file_2 img {
	height: 150px;
	width: 150px;
}

.file_1 {
	float: left;
	z-index: 3;
	position: relative;
}

.file_2 {
	height: 152px;
	width: 152px;
	float: left;
	position: absolute;
	z-index: 1;
	border: 1px solid black;
}

.newinfo_1 {
	height: 60px;
	margin-top: 20px;
}

.newinfo_1_1, .fastsell_1 {
	font-size: 1.7rem;
}

.fastsell_1, .fastsell_2 {
	line-height: 10rem;
}

.newinfo_1_2 {
	margin: 6px 0 0 0;
	color: red;
	font-size: 1.2rem;
}

.titlebox {
	border: 1px solid #a7a7a7a7;
	height: 30px;
}

.titlebox input {
	width: 500px;
	border: none;
	outline: none;
}

.titlebox a {
	float: right;
}

.fastsell_2 {
	margin: 6px 0 0 0;
	font-size: 1rem;
}

.form-group button {
	float: right;
	margin: 50px;
}

.location button, .new_btn {
	border: 1px solid orange;
	background-color: rgba(0, 0, 0, 0);
	color: orange;
	font: bold;
	padding: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 120px;
	height: 30px;
	margin-top: 10px;
}

.location button:hover, .new_btn:hover {
	color: white;
	background-color: orange;
}

.location input {
	margin-top: 10px;
	width: 716px;
	height: 2rem;
}

.price .pri input {
	margin-bottom: 10px;
	width: 250px;
	height: 2rem;
}

.textbox textarea {
	resize: none;
	width: 716px;
	font-size: 1.1rem;
}

.textbox span {
	color: black;
}

.hoxy {
	color: #808080;
}

.hoxy a {
	color: #808080;
	text-decoration: none;
	cursor: pointer;
	text-decoration: underline;
}

.counter {
	float: right;
}

.tagrule {
	padding-top: 0.5rem;
	line-height: 1.3;
	font-size: 0.9rem;
	color: #808080;
}

.tags input {
	width: 716px;
	height: 2rem;
}

.opt li {
	margin: 20px 0;
}

small {
	font-size: 0.8rem;
	color: orange;
}

small a {
	font-size: 0.8rem;
	color: orange;
	text-decoration: underline;
}

/*사진 업로드*/
ul.cvf_uploaded_files {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.cvf_uploaded_files li {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 2px;
	width: 150px;
	height: 150px;
	line-height: 150px;
	position: relative;
}

ul.cvf_uploaded_files li img.img-thumb {
	width: 150px;
	height: 150px;
}

ul.cvf_uploaded_files .ui-selected {
	background: red;
}

ul.cvf_uploaded_files .highlight {
	border: 1px dashed #000;
	width: 150px;
	background-color: #ccc;
	border-radius: 5px;
}

ul.cvf_uploaded_files .delete-btn {
	width: 24px;
	border: 0;
	position: absolute;
	top: -12px;
	right: -14px;
}

.bg-success {
	padding: 7px;
}