@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css?family=Numans');

#content_mainForm {
	border-radius: 8px;
    margin: 0px;
    margin-top: 30px;
    background: #fff;
}

#content_img {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

#image {
	border-radius: 8px;
	margin-top: 30px;
}

#writer_info {
	margin: 0 30px 0;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	border-top: 1px solid #e9ecef;
	border-bottom: 1px solid #e9ecef;
}

#writer_profile_img {
	display: inline-block;
}

#writer_profile_img img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#writer_name {
	display: inline-block;
	margin-left: 8px;
}

#writer_name #nickname {
	font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.6px;
    color: #212529;
}

#writer_name #region_name {
	font-size: 13px;
    line-height: 1.46;
    letter-spacing: -0.6px;
    color: #212529;
}

#content_detail {
	margin: 20px 30px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #e9ecef;
}

#buttonWrap {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

#buttonWrap button {
	border: none;
	border-radius: 8px;
    border: 1px solid #e9ecef;
    color: #868e96;
    background-color: white;
    padding: 7px 10px;
}

#buttonWrap button:hover {
	color: white;
	background-color: orange;
}