@import url('https://fonts.googleapis.com/css?family=Numans');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
.header{
	width:1200px;
	background-color: white;
	height:30px;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
	font:bold;
	text-align: right;
	float:center;
}
.header a{
	color:black;
	text-decoration:none;
}
.header button{
	border: 1px solid orange;
    background-color: rgba(0,0,0,0);
    color: orange;
	font : bold;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;  
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;  
	width:90px;
	height:30px;
	margin-top:10px;
	margin-right: 8px;
}
.header button:hover{
	color:white;
    background-color: orange;
}
.container{
	width:1200px;
	float:center;
	margin: 0 auto;
	height:1000px;
	align-content: center;
}
#mainLine{
	border:1px solid orange;
}
body,html{
	width:100%;
	height: 1000px;
	margin:0px;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}
#category_btn img{
	width:50px;
	height:40px;
}
#search{
	width:1182px;
	background-color:white;
	text-align: center;
	padding: 9px;
	height:30px;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}
#search input{
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
	border:3px solid orange;
	width:500px;
	height:30px;
}
#category{
	background-color:white;
	float: left;
	width: 360px;
	position: absolute; 
	z-index: 1;
}
#category_btn{
	float: left;
}
#showCategory{
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
	font: bold;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	border: 0px;
	background-color: transparent !important;
}
#result1{
	display: none;
}
#result1 a{
	color:black;
	text-decoration:none;
}
#categories button{
	border:0px;
    background-color: rgba(0,0,0,0);
    color: black;
    padding: 10px;
	font-size: 13px;
	font : bold;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;  
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:115px;
    height:100px;
}
#categories img{
	width:90px;
	height:60px;
	size: cover;
	align-items: center;
}
#categories button:hover{
    color:white;
    background-color: orange;
}
#categories ul{
	padding : 5px;
	list-style: none;
}
#categories ul li{
	float:left;
}
#product{
	width: 1020px;
	height:900px;
	float: left;
	position: relative; 
	z-index: 2;
}
#productPage{
	background-color: lightgrey;
	width:920px;
	height:880px;
	margin-left:100px;
}
#function{
	width: 125px;
	height:800px;
	background-color: yellow;
	float: right;
}
#wishlist{
	width: 125px;
	height:30%;
	background-color: lightblue;
}
#recent{
	width: 125px;
	height:30%;
	background-color: white;
}
#add{
	width: 125px;
	height:30%;
	background-color: skyblue;
}
search {
	
	width: 1182px;
	background-color: white;
	text-align: center;
	padding: 9px;
	height: 50px;
}

#search a {
	text-decoration: none;
	color: black;
}

#search .search_list {
	width: 25px;
	height: 25px;
}

#search a:hover {
	color: black;
}

#value {
	outline:none;
	padding: 6px;
	border:2px solid red;
	width: 40%;
	height: 60%;
}
.icon {
	width:50px;
	height:60%;
	border:0px;
	background: red;
	outline: none;
	color: #ffffff;
	padding:7px;
	margin: auto;
	cursor: pointer;
}

.thunder{
	float: left;
}

#function {
	position: absolute;
	position: fixed;
	text-align: center;
	top: 20%; right : 18%;
	width: 75px;
	height: 600px;
	background-color: none;
	float: right;
	right: 18%;
}

#wishlist {
	border: 1px solid black;
	width: 100px;
	height: 50px;
	background-color: white;
	margin: 5px;
}

#wishlist a {
	text-decoration: none;
	color: red;
}

#wishlist a:hover {
	color: red;
}

#top {
	margin: 5px;
	border: 1px solid #bebebe;
	width: 100px;
	height: 35px;
	background-color: white;
	z-index: 999;
}

.favorite {
	color: black;
	cursor : pointer;
}
.recent_product{
	color: #bebebe;
}
#footer{
	width:1000px;
	height:10px;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
	font:bold;
	text-align: center;
}