@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap');
#nearLoc button{
	border: 1px solid orange;
    background-color:white;
    color: orange;
	font : bold;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;  
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;  
	width:120px;
	height:30px;
	margin-top:10px;
	margin-right: 8px;
}
#nearLoc button:hover{
	color:white;
    background-color:orange;
}
input[type=checkbox]{
    display: none; 
}
#loc2 label{
    border: 1px solid orange;
    background-color: rgba(0,0,0,0);
    color: orange;
	font : bold;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;  
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;  
	width:120px;
	height:30px;
	margin-top:10px;
	margin-right: 8px;
	text-align: center;
}
#loc2 label:hover{
    color:white;
    background-color: orange;
}
#loc2 input[type=checkbox]:checked + label{
   	background-color: orange;
   	color:white;
}

h3{
	font : bold;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}
#loc1 label{
    border: 1px solid orange;
    background-color: rgba(0,0,0,0);
    color: orange;
	font : bold;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;  
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;  
	width:120px;
	height:30px;
	margin-top:10px;
	margin-right: 8px;
	text-align: center;
}
#loc1 label:hover{
    color:white;
    background-color: orange;
}
#loc1 input[type=checkbox]:checked + label{
   	background-color: orange;
   	color:white;
}
#loc1{
	float:left;
	width:50%;
}
#loc2{
	float:left;
	width:50%;
}
#map{
	float:left;
}