<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userDB">
	<select id="selectUserAll" resultType="UserVO">
		select * from user;
	</select>
	<select id="selectUser" parameterType="string"
		resultType="UserVO">
		select * from user where id=#{value}
	</select>
	<select id="insertUser">
		insert into
		user(id,name,password,birth,nickname,email,phone,msg_agree)
		values(#{id},#{name},#{password},'1997-03-07',#{nickname},#{email},#{phone},#{msg_agree});
	</select>

	<!-- 메인 화면에 나오는 판매중인 상품 -->
	<select id="boardList" resultType="SellBoardVO">
		select * from product order by
		prod_seq desc;
	</select>

	<!-- 판매하기 글 쓰기 -->
	<select id="insertSell" resultType="SellBoardVO">
		insert into
		product(nickname,location, prod_title, prod_content, price, category,
		upload_date, status)
		values('닉네임1234','서울',#{prod_title},#{prod_content},#{price},'디지털기기.가전',now(),1);
	</select>

	<!-- 판매중인 상품 상세보기 -->
	<select id="sellDetail" parameterType="int"
		resultType="SellBoardVO">
		select * from product where prod_seq = #{prod_seq};
	</select>
	<!-- 판매상품 삭제하기 -->
	<select id="sellDelete" resultType="SellBoardVO">
		delete from product where
		prod_seq = #{prod_seq};
	</select>
	
	<!-- 조회수 증가 -->
	<update id="viewCount">
		update product set count = count + 1 where prod_seq = #{prod_seq};
	</update>

	<!-- 정보 찾기 -->
	<select id="findKakao" parameterType="java.util.HashMap"
		resultType="UserVO">
		select * from user where nickname=#{nickname}
	</select>


	<!-- 정보 저장 -->
	<insert id="kakaoInsert" parameterType="java.util.HashMap">
		insert into
		user(id,name,password,birth,nickname,email,phone,msg_agree,join_type,profile_image)
		values(#{email},#{nickname},'1234','1997-03-07',#{nickname},#{email},'010-1234-1234',0,1,#{profile_image})
	</insert>
</mapper>