<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userDB">
	<select id="selectUserAll" resultType="UserVO">
		select * from user;
	</select>
	<select id="selectUser" parameterType="string"
		resultType="UserVO">
		select * from user where id=#{value}
	</select>
	<select id="insertUser">
		insert into
		user(id,name,password,birth,nickname,email,phone,msg_agree)
		values(#{id},#{name},#{password},'1997-03-07',#{nickname},#{email},#{phone},#{msg_agree});
	</select>
	<select id="boardList" resultType="SellBoardVO">
		select * from product;
	</select>

	<select id="insertSell" resultType="SellBoardVO">
		insert into product(nickname,
		location, prod_title, prod_content, price, category, upload_date,
		count, status) values('테스트닉네임3',
		'부산',#{prod_title},#{prod_content},${price},'뷰티/미용',now(), 1,1);
	</select>

	<!-- 정보 찾기 -->
	<select id="findKakao" parameterType="java.util.HashMap" resultType="UserVO">
		select * from user where nickname=#{nickname}
	</select>
	

	<!-- 정보 저장 -->
	<insert id="kakaoInsert" parameterType="java.util.HashMap">
		insert into user(id,name,password,birth,nickname,email,phone,msg_agree,join_type,profile_image)
		values(#{email},#{nickname},'1234','1997-03-07',#{nickname},#{email},'010-1234-1234',0,1,#{profile_image})
	</insert>
</mapper>